{% extends "/admin_particular/__base.html" %}

{% block title %} Usuário Particular {% endblock %}

{% block body %}
   {{ super() }}     
   <section>
       <div class="container">     
            <div class="row">               
                  <div class="col-3 d-flex justify-content-center">
                      <a href="{{ url_for('home') }}">
                      <img src="{{ url_for('static', filename='img/motando_logo-402x150.png') }}" class="img-fluid" alt="Motando" 
                           style="width: 220px;">
                      </a>
                  </div>         
                  <div class="col-9 d-flex justify-content-center">            
                     {% include "__flash_messages.html" %}      
                 </div>               
            </div>
            <div class="row">
               <div class="col-3">
                    {% include "/admin_particular/__left_menu.html" %}  
               </div> 
               <div class="col-9">
                     <br>
                     <div class="shadow rounded bg-white border p-3">
                        <div class="row">
                           <div class="col">
                                 <h2 class="h4 fw-bold"> Home </h2>                                 
                           </div>
                        </div>                         
                     </div>
               </div> <!-- right panel -->                
            </div>
       </div>
   </section>
   <br><br> 
{% endblock %}

{% block footer %}
   {% include "__footer.html" %}     
{% endblock %}

{% block body_scripts %}   
   <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery.blockUI.min.js') }}"></script>  
   <script type="text/javascript" src="{{ url_for('static', filename='js/commons.js') }}"></script>
{% endblock %}