{% extends "/admin_particular/__base.html" %}

{% block title %} Usuário Particular {% endblock %}

{% block head_items %}
   <link href="{{ url_for('static', filename='css/ajax-loading.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
   {{ super() }}     
   <section>
       <div class="container">     
           <div class="row">               
                 <div class="col-3 d-flex justify-content-center">
                     <a href="{{ url_for('admin_particular_home') }}">
                        <img src="{{ url_for('static', filename='img/motando_logo-402x150.png') }}" class="img-fluid" alt="Motando" 
                            style="width: 220px;">
                        </a>
                 </div>
                 <div class="col-9 d-flex justify-content-center">            
                     {% include "__flash_messages.html" %}      
                 </div>               
           </div>           
           <div class="row">
                 <div class="col-3">
                     {% include "/admin_particular/__left_menu.html" %}  
                 </div>
                 <div class="col-9">
                     <br>
                     <div class="shadow rounded bg-white border p-3">
                        <div class="row">
                            <div class="col">
                                <h2 class="h4 fw-bold"> Meus Anúncios </h2>                                 
                            </div>
                        </div>               
                        <div class="row pt-2">
                           <div class="col">
                              <p class="font-monospace"> 
                                 &nbsp;&nbsp;&nbsp;&bull;&nbsp;Aúncio(s) publicado(s)...:&nbsp;<span id="id_total_anuncios_publicados" class="text-success"> -- </span>
                                 <br>                             
                                 &nbsp;&nbsp;&nbsp;&bull;&nbsp;Aúncio(s) em publicação..:&nbsp;<span id="id_total_anuncios_nao_publicados" class="text-info"> -- </span>
                              </p>
                           </div>
                        </div>   
                        {% include "__ajax_loading.html" %}
                        {% include "__modal_message.html" %}
                        <div id="id_meus_anuncios">                        
                        </div> 
                 </div> <!-- right panel --> 
           </div>
       </div>
   </section>
   <br><br>   
{% endblock %}

{% block footer %}
   {% include "__footer.html" %}     
{% endblock %}

{% block body_scripts %}   
   <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery.blockUI.min.js') }}"></script>       
   <script type="text/javascript"> const ANUNCIO_URL = "{{ url_for('admin_particular_anuncio_lista') }}"; </script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/commons.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/meus-anuncios.js') }}"></script>   
{% endblock %}