{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %} 
    {% for category, message in messages %} 
        <div class="row align-items-center text-center">                                                                      
            <div class="col-12">
               {% if category == 'success' %}
                  <div class="alert alert-success h4" role="alert"> {{ message }} </div>
               {% elif category == 'warning' %}
                  <div class="alert alert-warning h4" role="alert"> {{ message }} </div>
               {% elif category == 'error' %}       
                  <div class="alert alert-danger h4" role="alert"> {{ message }} </div>
               {% else %}       
                  <div class="alert alert-info h4" role="alert"> {{ message }} </div>
               {% endif %}   
            </div>                                            
        </div> 
        <br>
    {% endfor %}
{% endif %}
{% endwith %}  