<footer>
    <div class="container-fluid" id="id_footer_motando_anuncio_container">        
        <div class="row pt-4">
            <div class="col-12 text-center">
                <h3 class="h1"><strong>Quer Vender Sua moto?</strong></h3>
                <h3 class="h3 pt-2"><strong>Anuncie grátis agora mesmo!</strong></h3>      
            </div>
        </div>          
        <div class="row pt-4">
            <div class="col-12 d-flex justify-content-center">
                <a class="btn btn-success btn-lg fw-bold" id="id_link_motando_anuncio" href="#">
                    &nbsp;&nbsp;&nbsp; Anunciar &nbsp;&nbsp;&nbsp;
                </a>
            </div>
        </div>       
        <br>
    </div>        
    <div class="container-fluid" id="id_footer_newsletter_container">        
        <form>                
                <div class="row p-4">
                    <div class="col text-right">
                        <p class="pt-2 h5"> Receba nossas notícias </p>
                    </div>            
                    <div class="col-4">
                        <input type="text" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-4">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-block fw-bold"> &nbsp;&nbsp;&nbsp; Enviar &nbsp;&nbsp;&nbsp; </button>
                    </div>            
                </div>
        </form>
    </div>
    <div class="container-fluid" id="id_footer_container"> 
        <div class="row p-4">
            <div class="col-12 d-flex justify-content-center">
                <p class="pt-2">
                    © Copyright - 2020 | MOTANDO.com.br | Todos os direitos reservados | All Rights reserved | 
                    <a href="#">Termos de uso</a>
                </p>
            </div>
        </div>       
    </div>
</footer>